@font-face {
    font-family: fontPortafolio;
    src: url(../css/font/RammettoOne-Regular.ttf);
}
@font-face {
    font-family: fontPortafolio2;
    src: url(../css/font/Inconsolata-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0%;
}

body {
    font-family: fontPortafolio2 !important;
    font-size: 20px !important;
}

/* -------------------------------------------------MENU----------------------------------------------------- */


.navbar-color-fondo {
    background-color: rgba(39, 39, 39, 0.692) !important;
}

.font-size {
    font-size: 15px !important;
}


/* -------------------------------------------PARTE DEL SLIDER----------------------------------------------- */


.img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.575), 
    rgba(0, 0, 0, 0.7)), url(../img/slider/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
}

.img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.575), 
    rgba(0, 0, 0, 0.5)), url(../img/slider/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
}

.carousel {
    position: relative !important;
    align-items: center;
}

/* ------------------------------------------PARTE DE LA DESCRIPCION----------------------------------------- */

.contenedor-padre {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor-titulo p {
    margin-top: 3vh;
    font-size: 25px;
}

.contenedor-contenido {
    color: rgb(240, 240, 240);
    margin-top: 3vh;
    /* margin-left: 20%;
    margin-right: 20%; */
} 

.imgL {
    transition: 0.7s;
    width: 27vh;
    height: 27vh;
    border-radius: 50%;
    margin: auto;
}

.imgL:hover {
    transition: 0.7s;
    height: 28vh;
    border-top: 8px solid rgba(30, 67, 168, 0.623);
    border-bottom: 8px solid rgba(30, 67, 168, 0.623);
    -webkit-box-shadow: 0px 0px 41px -1px rgba(217,217,217,1);
    -moz-box-shadow: 0px 0px 41px -1px rgba(217,217,217,1);
    box-shadow: 0px 0px 41px -1px rgba(217,217,217,1);
}

.type-script {
    color: darkgoldenrod;
}

/* --------------------------------------------SOBRE MI----------------------------------------------------- */

.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
}
   
.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}
   
.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
   
.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01a1e0;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}
   
.download-button:hover .download {
    transform: translateY(100%)
}
   
.download svg polyline,.download svg line {
    animation: docs 1s infinite;
}
   
@keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
}

/* -------------------------------------------HABILIDADES--------------------------------------------------- */

.color-contenedor {
    margin-top: -10px;
    background-color: #303644;
    color: rgb(240, 240, 240);
    width: 100%;
}

.fila {
    display: flex;
    flex-flow: row wrap;
}

.flex-col {
    flex: 1 1 auto;
    margin: 20px;
}

.flex-items {
    width: 150px;
    margin: 0 auto;
}

.custom-popover-basico {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-primary) !important;
    --bs-popover-header-bg: var(--bs-primary) !important;
    --bs-popover-header-color: var(--bs-white) !important;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}
.custom-popover-intermedio {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-warning) !important;
    --bs-popover-header-bg: var(--bs-warning) !important;
    --bs-popover-header-color: var(--bs-white) !important;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}
.custom-popover-alto {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-danger) !important;
    --bs-popover-header-bg: var(--bs-danger) !important;
    --bs-popover-header-color: var(--bs-white) !important;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

.cont-svg-icon {
    width: 50px;
    height: 50px;
    margin: 10px;

}

/* -------------------------------------------PORTAFOLIO--------------------------------------------------- */

.portafolio {
    margin-top: -10px;
    position: relative;
    /* background-color: #e7e7e7; */
    /* background-image: linear-gradient(rgba(197, 197, 197, 0.575), 
    rgba(165, 165, 165, 0.7)), url(../img/imgs/domenico-loia-EhTcC9sYXsw-unsplash.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 20rem;
}

.svg-top-hablididad {
    margin-top: -10px;
    position: static;
    top: 0;
    width: 100%;
}

.svg-botton-hablididad {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: -10px;
}


.cartas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* align-items: center; */
    margin: 20px auto;
}

.card {
    transition: 0.7s;
    width: 300px;
    height: 400px auto !important;
    background: #07182E;
    border-radius: 5px;
    text-align: center;
    color: #1a1a1a;
    font-family: fontPortafolio2 !important;
    z-index: 1;
    margin: 20px;
}
  
.card p {
    opacity: 0;
    transition: all 0.5s;
}
  
.heading {
    color: #07182E;
    padding-top: 10px;
    font-weight: 900;
    font-size: 26px;
}

.cont-card {
    font-size: 18px;
    padding: 10px;
}
  
p svg {
    padding: 0 5px;
    cursor: pointer;
}
  
.card:hover h1, .card:hover p {
    opacity: 1;
}
.icon-svg {
    margin: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon-svg svg {
    transition: 0.7s;
    bottom: 0;
    width: 35px;
    height: 35px;
}

.icon-svg svg:hover{
    transition: 0.7s;
    width: 40px;
    height: 40px;
}

.card-img-1:hover {
    color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(155, 155, 155, 0.712), 
    rgba(126, 126, 126, 0.541)), url(../img/proyectos/scriptweb-p.000webhostapp.com_.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-2:hover {
    color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(167, 167, 167, 0.712), 
    rgba(148, 148, 148, 0.7)), url(../img/proyectos/Captura\ de\ pantalla\ 2023-02-27\ 184059.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* --------------------------------------- */
/* DISEÑO RESPONSIVE A TAMAÑOS DE PANTALLA */
/* --------------------------------------- */
/* DE MAYOR A MENOR TAMAÑO DE PANTALLA */

@media (max-width: 1400px){
    .img1 {
        height: 100vh;
        width: 100%;
    }
    .img2 {
        height: 100vh;
        width: 100%;
    }
}

@media (max-width: 1200px){
    .img1 {
        height: 80vh;
        width: 100%;
    }
    .img2 {
        height: 80vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 12%;
    }
    .imgL {
        width: 20vh;
        height: 20vh;
    }
    .imgL:hover {
        height: 21vh;
    }
    .contenedor-titulo p {
        font-size: 20px;
        width: auto;
    }
    .contenedor-contenido {
        width: auto;
        font-size: 14px;
    }
}

@media (max-width: 992px){
    .img1 {
        height: 60vh;
        width: 100%;
    }
    .img2 {
        height: 60vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 12%;
    }
    .imgL {
        width: 20vh;
        height: 20vh;
    }
    .imgL:hover {
        height: 21vh;
    }
    .contenedor-titulo p {
        font-size: 18px;
        width: 20em;
    }
    .contenedor-contenido {
        width: auto;
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .img1 {
        height: 50vh;
        width: 100%;
    }
    .img2 {
        height: 50vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 12%;
    }
    .imgL {
        width: 20vh;
        height: 20vh;
    }
    .imgL:hover {
        height: 21vh;
    }
    .contenedor-titulo p {
        font-size: 18px;
        width: auto;
    }
    .contenedor-contenido {
        display: none;
    }
}

@media (max-width: 375px){
    .img1 {
        height: 50vh;
        width: 100%;
    } 
    .img2 {
        height: 50vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 10%;
    }
    .imgL {
        width: 20vh;
        height: 20vh;
    }
    .imgL:hover {
        height: 21vh;
    }
    .contenedor-titulo p {
        font-size: 18px;
    }
    .contenedor-contenido {
        display: none;
    }
}

@media (max-width: 320px){
    .img1 {
        height: 50vh;
        width: 100%;
    } 
    .img2 {
        height: 50vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 10%;
    }
    .imgL {
        width: 16vh;
        height: 16vh;
    }
    .imgL:hover {
        height: 17vh;
    }
    .contenedor-titulo p {
        font-size: 16px;
        width: auto;
    }
    .contenedor-contenido {
        display: none;
    }
}

/* --------------------------------------- */
/* ======================================= */
/* --------------------------------------- */