@font-face {
    font-family: fontPortafolio;
    src: url(../css/font/RammettoOne-Regular.ttf);
}
@font-face {
    font-family: fontPortafolio2;
    src: url(../css/font/Inconsolata-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: fontPortafolio2 !important;
    font-size: 20px !important;
    background-color: #eeeeee !important;
}

/* -------------------------------------------------MENU----------------------------------------------------- */


.navbar {
    transition: 0.7s !important;
}

.font-size {
    font-size: 15px !important;
}

nav.scrolling {
    transition: 1.5s;
    background-color: #303644d5 ;
    padding: 10px 10px;
}


/* -------------------------------------------PARTE DEL SLIDER----------------------------------------------- */


.img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.575), 
    rgba(0, 0, 0, 0.7)), url(../img/slider/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
}

.img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.575), 
    rgba(0, 0, 0, 0.5)), url(../img/slider/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    width: 100%;
}

.carousel {
    position: relative !important;
    align-items: center;
}

/* ------------------------------------------PARTE DE LA DESCRIPCION----------------------------------------- */

.contenedor-padre {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
}

.contenedor-titulo p {
    margin-top: 3vh;
    font-size: 25px;
}

.contenedor-contenido {
    color: rgb(240, 240, 240);
    margin-top: 3vh;
    /* margin-left: 20%;
    margin-right: 20%; */
} 

.imgL {
    transition: 0.7s;
    width: 27vh;
    height: 27vh;
    border-radius: 50%;
    margin: auto;
}

.imgL:hover {
    transition: 0.7s;
    transform: scale(1.15);
}

.type-script {
    color: darkgoldenrod;
}

/* --------------------------------------------SOBRE MI----------------------------------------------------- */

.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
}
   
.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}
   
.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
   
.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01a1e0;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}
   
.download-button:hover .download {
    transform: translateY(100%)
}
   
.download svg polyline,.download svg line {
    animation: docs 1s infinite;
}
   
@keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
}

/* -------------------------------------------HABILIDADES--------------------------------------------------- */

.color-contenedor {
    margin-top: -10px;
    background-color: #303644;
    color: rgb(240, 240, 240);
    width: 100%;
}

.fila {
    display: flex;
    flex-flow: row wrap;
}

.flex-col {
    flex: 1 1 auto;
    margin: 20px;
}

.flex-items {
    width: 150px;
    margin: 0 auto;
}

.custom-popover-basico {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-primary) !important;
    --bs-popover-header-bg: var(--bs-primary) !important;
    --bs-popover-header-color: var(--bs-white) !important;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}
.custom-popover-intermedio {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-warning) !important;
    --bs-popover-header-bg: var(--bs-warning) !important;
    --bs-popover-header-color: var(--bs-white) !important;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}
.custom-popover-alto {
    --bs-popover-max-width: 200px;
    --bs-popover-border-color: var(--bs-danger) !important;
    --bs-popover-header-bg: var(--bs-danger) !important;
    --bs-popover-header-color: var(--bs-white) !important;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;
}

.cont-svg-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.cont-svg-icon:hover {
    padding: 5px;
}

.flex-row-hobbies {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.flex-row-hobbies > div {
    margin-top: 20px;
}

.contend-hobbies {
    margin-right: 20px;
    margin-left: 20px;
}

.group-lista {
    height: auto;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
}

.lista {
    text-decoration: none;
    width: 300px;
    padding: 5px;
    margin: 5px 5px 0 -12px;
    background-color: #dddddd;
    font-size: 16px !important;
    color: #07182e;
    border-color: #707070;
    border-style: solid;
    list-style: none;
}

.lista:hover {
    padding: 10px;
    background-color: #e9e9e9;
}

.img-lista {
    width: 50px;
    height: 30px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 10px;
}

.img-hobbie {
    background-image: url(../img/imgs/nadine-shaabana-YsPnamiHdmI-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 30rem;
    height: 20rem;
    border-radius: 5%;
}

/* -------------------------------------------PORTAFOLIO--------------------------------------------------- */

.portafolio {
    margin-top: -10px;
    position: relative;
    width: 100%;
    padding-bottom: 20rem;
}

.svg-top-hablididad {
    margin-top: -10px;
    position: relative;
    top: 0;
    width: 100%;
}

.svg-botton-hablididad {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: -10px;
}

.cartas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}



.card {
    width: 17em;
    height: 22.5em;
    margin-top: 20px;
    background: #303644 !important;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    padding-top: 1em;
    font-size: 1em;
  }
  
  .card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 0.1em;
    font-size: 0.72em;
    margin: 1em;
    margin-top: 1em;
  }
  
  .card .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 1.7em;
  }
  
  .card .share {
    text-align: center;
    margin-top: 1.0em;
    margin-bottom: 1.0em;
  }
  
  .card a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .card a:hover {
    color: rgb(36, 116, 221);
  }
  
  .card button {
    padding: 0.4em 0.9em;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 25px;
    border: none;
    margin-top: 1em;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .card button:hover {
    background: rgb(36, 116, 221);
    color: white;
  }

  /* modal - carusel */
.fondo-boton {
    background-color: #07182e93 !important;
}

.fondo-boton:hover {
    background-color: #07182e;
}

.icon-svg-portafolio {
    transition: 0.7s;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

a .icon-svg-portafolio:hover {
    transition: 0.7s;
    transform: scale(0.75);
}


/* ---------------------------------------------CONTACTO----------------------------------------------------- */

.color-fondo {
    position: relative !important;
    background-color: #303644;
    height: 350px;
    width: 100%;
    margin-top: -20px;
    z-index: 2;
}

.form-contacto {
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
}

.form-tamano {
    background-color: rgb(243, 243, 243);
    width: 300px;
    /* height: 400px !important; */
    border-radius: 5%;
    padding: 10px;
}

.container-botton {
    background-color: #303644;
    width: 100%;
    display: block;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: -20px;
}

.iconos-footer {
    width: 110px;
    margin: 0 auto;
}

.icon-svg-contacto svg {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.icon-svg-contacto svg:hover {
    padding: 5px;
}


.button-1 {
    padding: 5px 6px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #333333;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #303644;
}
  
.mb-3 button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #303644;
    box-shadow: 4px 5px 17px -4px #303644;
}
  
.mb-3 button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #303644;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
  
.mb-3 button:hover::before {
    width: 250%;
}
  


/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* --------------------------------------- */
/* DISEÑO RESPONSIVE A TAMAÑOS DE PANTALLA */
/* --------------------------------------- */
/* DE MAYOR A MENOR TAMAÑO DE PANTALLA */

@media (max-width: 1400px){
    .img1 {
        height: 100vh;
        width: 100%;
    }
    .img2 {
        height: 100vh;
        width: 100%;
    }
}

@media (max-width: 1200px){
    .img1 {
        height: 80vh;
        width: 100%;
    }
    .img2 {
        height: 80vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 12%;
    }
    .imgL {
        width: 20vh;
        height: 20vh;
    }
    .contenedor-titulo p {
        font-size: 30px !important;
        width: 40rem;
    }
    .contenedor-contenido {
        width: auto;
        font-size: 14px;
    }
}

@media (max-width: 992px){
    .img1 {
        height: 65vh;
        width: 100%;
    }
    .img2 {
        height: 65vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 12%;
    }
    .imgL {
        width: 20vh;
        height: 20vh;
    }
    .contenedor-titulo p {
        font-size: 18px;
        width: 20em;
    }
    .contenedor-contenido {
        width: auto;
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .img1 {
        height: 55vh;
        width: 100%;
    }
    .img2 {
        height: 55vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 12%;
    }
    .imgL {
        width: 20vh;
        height: 20vh;
    }
    .contenedor-titulo p {
        font-size: 26px !important;
        width: auto;
    }
    .contenedor-contenido {
        display: none;
    }
    /* /////////////////////////////////////////////////////// */
    .img-hobbie {
        width: 18rem;
        height: 10rem;
    }
}

@media (max-width: 375px){
    .img1 {
        height: 50vh;
        width: 100%;
    } 
    .img2 {
        height: 50vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 10%;
    }
    .imgL {
        width: 20vh;
        height: 20vh;
    }
    .contenedor-titulo p {
        font-size: 22px !important;
        width: 100%;
    }
    .contenedor-contenido {
        display: none;
    }
    /* /////////////////////////////////////////////////////// */
    .img-hobbie {
        background-image: url(../img/imgs/nadine-shaabana-YsPnamiHdmI-unsplash.jpg);
        background-size: cover;
        width: 13rem;
        height: 8rem;
    }
}

@media (max-width: 327px){
    .img1 {
        height: 50vh;
        width: 100%;
    } 
    .img2 {
        height: 50vh;
        width: 100%;
    }
    /* /////////////////////////////////////////////////////// */
    .contenedor-padre {
        top: 10%;
    }
    .imgL {
        width: 16vh;
        height: 18vh !important;
    }
    .contenedor-titulo {
        font-size: 16px;
        width: 100%;
    }
    .contenedor-contenido {
        display: none;
    }
}

/* --------------------------------------- */
/* ======================================= */
/* --------------------------------------- */